body {
    background: #f1f1f1;
    font-family: Helvetica;
}

.container {
    margin: 50px auto;
    padding: 20px;
    width: 350px;
    background: #fff;
    border: 1px solid #ddd;
}

.container h3 {
    margin: 0;
    margin-bottom: 5px;
}

form {
    display: block;
    max-width: 100%;
    overflow: auto;
    zoom: 1;
}

input, button {
    display: block;
    float: left;
    height: 40px;
}

input {
    padding: 0 15px;
    margin-bottom: 5px;
    width: 65%;
    margin-right: 20px;
}

button {
    height: 44px;
}

.menu {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px 5px 10px 10px;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    background-color: #DDDDDD;
}

.menu button {
    margin-right: 5px;
}

/*-------------------------------------*/

.datagrid table {
    border-collapse: collapse;
    table-layout: fixed;
    text-align: left;
    width: 100%;
}

.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #006699;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.datagrid table td, .datagrid table th {
    padding: 6px 10px;
}

.datagrid table thead th {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
    background: -moz-linear-gradient( center top, #006699 5%, #00557F 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color: #006699;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #0070A8;
}

.datagrid table thead th:first-child {
    border: none;
}

.datagrid table tbody td {
    color: #00557F;
    border-left: 1px solid #E1EEF4;
    font-size: 12px;
    font-weight: normal;
}

.datagrid table tbody .alt td {
    background: #E1EEf4;
    color: #00557F;
}

.datagrid table tbody .alt2 td {
    text-align:center;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.datagrid table tfoot td div {
    border-top: 1px solid #006699;
    background: #E1EEf4;
}

.datagrid table tfoot td {
    padding: 0;
    font-size: 12px;
}

.datagrid table tfoot td div {
    padding: 2px;
}

.datagrid table tfoot td ul {
    text-align:center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.datagrid table tfoot li {
    display: inline;
}

.datagrid table tfoot li a {
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: 1px;
    color: #FFFFFF;
    border: 1px solid #006699;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
    background: -moz-linear-gradient( center top, #006699 5%, #00557F 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color: #006699;
}

.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover {
    text-decoration: none;
    border-color: #00557F;
    color: #FFFFFF;
    background: none;
    background-color: #006699;
}